# Archivos y carpetas de Python
*.pyc
__pycache__/
venv/

# Archivos de entorno y configuración local
*.env
.DS_Store

# Archivos de Docker y control de versiones
Dockerfile
.dockerignore
.git
.gitignore

# Archivos de logs
*.log
schema.log

# Archivos de documentación
README
README.md
*.md